# smart-rent-advisor/requirements.txt

# For data manipulation and analysis
pandas
numpy

# For model building
scikit-learn

# For data visualization
matplotlib
seaborn

# For creating the dashboard
streamlit==1.32.2
altair==4.2.2

# For notebook environment
jupyter
